<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>乐鸽商户平台</title>
    <link rel="short icon"  href="/static/乐鸽.png"></link>
</head>
<!--<link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">-->
<link rel="stylesheet" type="text/css" href="/static/layui/css/bootstrap.min.css">
<body style=" background:
url(/static/back/2.jpg) no-repeat center center fixed; background-size: 100%;">
<center>
    <h3><a href="/">登陆失败，点击跳转返回登陆页面</a></h3>
</center>


<script src="/static/jquery-3.5.1/jquery-3.5.1.js"></script>
<script>
    $(function () {
    })
</script>
</body>
</html>