<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>乐鸽商户平台</title>
    <link rel="short icon"  href="/static/乐鸽.png"></link>
</head>
<!--<link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">-->
<link rel="stylesheet" type="text/css" href="/static/layui/css/bootstrap.min.css">
<body style=" background:
url(/static/back/2.jpg) no-repeat center center fixed; background-size: 100%;">
<br/>
<center>
    <form class="form form-group-sm" action="/updateUser" method="post">
        <input type="hidden" name="_id" value="<%= user.id%>">
        姓名:<input type="text" name="name" value="<%= user.name%>"/><br/>
        年龄:<input type="text" name="age" value="<%= user.age%>"/><br/>
        地址:<input type="text" name="address" value="<%= user.address%>"/><br/>
        <button type="submit" class="btn bg-success">确定更新 </button>
        <button type="submit" class="btn bg-success" id="return">返回 </button>
    </form>
</center>




<script src="/static/jquery-3.5.1/jquery-3.5.1.js"></script>
<script>
    $(function () {
        $("a").css("text-decoration", "none");

        $("#return").click(function () {
            window.location.href = "/getUser";
        })
    })
</script>
</body>
</html>