<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>乐鸽商户平台</title>
    <link rel="short icon"  href="/static/乐鸽.png"></link>
</head>
<!--<link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">-->
<link rel="stylesheet" type="text/css" href="/static/layui/css/bootstrap.min.css">
<body style=" background:
url(/static/back/2.jpg) no-repeat center center fixed; background-size: 100%;">

    <!--登陆页面-->
    <!--<form class="form form-group-sm" action="/login" method="post">-->
        <!--username:<input type="text" name="username"/><br/>-->
        <!--password:<input type="password" name="password"/><br/>-->
        <!--<button type="submit" class="btn bg-success">登陆 </button>-->
        <!--<button class="btn bg-success"><a href="/toregister" >注册</a></button>-->
    <!--</form>-->
    <!--<form class="form-horizontal">-->
        <!--<div class="form-group">-->
            <!--<label for="inputEmail3" class="col-sm-2 control-label">Email</label>-->
            <!--<div class="col-sm-10">-->
                <!--<input type="email" class="form-control" id="inputEmail3" placeholder="Email">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="inputPassword3" class="col-sm-2 control-label">Password</label>-->
            <!--<div class="col-sm-10">-->
                <!--<input type="password" class="form-control" id="inputPassword3" placeholder="Password">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<div class="col-sm-offset-2 col-sm-10">-->
                <!--<div class="checkbox">-->
                    <!--<label>-->
                        <!--<input type="checkbox"> Remember me-->
                    <!--</label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<div class="col-sm-offset-2 col-sm-10">-->
                <!--<button type="submit" class="btn btn-default">Sign in</button>-->
            <!--</div>-->
        <!--</div>-->
    </form>
    <form  action="/login" method="post">
    <div class="modal-dialog" style="margin-top: 10%;">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title text-center" id="myModalLabel">登陆</h4>
            </div>
            <div class="modal-body" id = "model-body">
                <div class="form-group">

                    <input type="text" class="form-control"placeholder="用户名" autocomplete="off" name="username">
                </div>
                <div class="form-group">

                    <input type="password" class="form-control" placeholder="密码" autocomplete="off" name="password">
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary form-control">登录</button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default form-control" id="register">注册</button>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
    </form>


<script src="/static/jquery-3.5.1/jquery-3.5.1.js"></script>
<script>
    $("#register").click(function () {
        window.location.href = "/toregister";
    })

</script>
</body>
</html>