<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>乐鸽商户平台</title>
    <link rel="short icon"  href="/static/乐鸽.png"></link>
</head>
<!--<link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">-->
<link rel="stylesheet" type="text/css" href="/static/layui/css/bootstrap.min.css">
<body style="
 background: url(/static/back/2.jpg)
  no-repeat center center fixed; background-size: 100%;">

</form>
<form  action="/register" method="post">
    <div class="modal-dialog" style="margin-top: 10%;">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title text-center" id="myModalLabel">注册</h4>
            </div>
            <div class="modal-body" id = "model-body">
                <div class="form-group">

                    <input type="text" class="form-control"placeholder="用户名" autocomplete="off" name="username">
                </div>
                <div class="form-group">

                    <input type="password" class="form-control" placeholder="密码" autocomplete="off" name="password">
                </div>
            </div>
            <div class="modal-footer">
                <%if(warning == false){%>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary form-control" style="color: #ac2925">
                        用户已经存在
                    </button>
                </div>
                <!--<h6 style="color: #ac2925"></h6>-->
                <%}%>


                <div class="form-group">
                    <button type="submit" class="btn btn-primary form-control" >注册</button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default form-control" id="tolongin">使用已有账号登陆</button>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</form>


<script src="/static/jquery-3.5.1/jquery-3.5.1.js"></script>
<script>
    $("#tolongin").click(function () {
        window.location.href = "/";
    })


</script>
</body>
