<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>乐鸽商户平台</title>
    <link rel="short icon"  href="/static/乐鸽.png"></link>
</head>
<!--<link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">-->
<link rel="stylesheet" type="text/css" href="/static/layui/css/bootstrap.min.css">
<style>
    label {display:inline-block; width: 10em; margin-right: 1em; text-align: right; }
</style>
<body style=" background:
url(/static/back/2.jpg) no-repeat center center fixed; background-size: 100%;">
<center>
    <div style="width: 500px;height: 400px; text-align: center">
        <form action="/shanghu/bank" id="forms" method="post">
            <label>账户:</label><input name="account" type="text" placeholder="输入数字"><br/><br/>
            <label>主收款账号:</label><input name="mainaccount" type="text" placeholder="输入数字"><br/><br/>
            <label>账户类型:</label>
            <input type="radio" name="type" value="public">对公账户 &nbsp;
            <input type="radio" name="type" value="private">对私账户<br/><br/>
            开户名:<input name="accountname" type="text" placeholder="输入文字">营业执照:<input name="license" type="text" placeholder="输入数字/英文"><br/><br/>
            证件号:<input name="IDNumber" type="text" placeholder="输入数字/英文">银行卡号:<input name="bankcard" type="text" placeholder="输入数字"><br/><br/>
            银行名称:
            <select name="bank">
                <option value="中国农业银行">中国农业银行</option>
                <option value="中国工商银行">中国工商银行</option>
                <option value="中国民生银行">中国民生银行</option>
                <option value="中国建设银行">中国建设银行</option>
                <option value="恒丰银行">恒丰银行</option>
            </select><br/><br/>
            法人姓名:<input name="fname" type="text" placeholder="输入文字">法人证件号:<input type="text" placeholder="输入数字/英文"><br/><br/>
            资费:<select name="tariff">
                <option value="D+1">D+1</option>
                <option value="微信钱包">微信钱包</option>
            </select>
            资费:<input name="gtariff" readonly type="text" placeholder="固定项,T+1" value="T+1">
        </form>
    </div>
    <button class="btn btn-success" id="back">取消</button>&nbsp;
    <button class="btn btn-success"  id="submit">确认提交</button>&nbsp;

</center>

<script src="/static/jquery-3.5.1/jquery-3.5.1.js"></script>
<script>
    $("#submit").click(function () {
        $("#forms").submit();
    })
    $(function () {
    })
</script>
</body>
</html>